
h1 {
	color: red;
}
/*Currently, the <li> items are block level elements. 
Add correct styles to remove the bullets and display them as inline elements.*/

.block{
	display: inline;
}

/*The three <span> elements should be displayed as block elements with a 1 pixel 
border and 25 pixel margin on all sides.*/

.inline{
	display: block;
	border: 1px;
	margin: 25px;
}

/*In the article element with the class n-child, add a 1 pixel border 
around every even numbered section element.*/

.n-child section:nth-of-type(even) {
	color: blue;
	border: dashed;
	border-color: orange;
}


/*example syntax:
.one li:nth-of-type(1) {
  background: lightsteelblue;
}*/